<%- include('../../libs/html/header', {
title: '可控制的智能设备',
description: '可控制的智能设备',
keywords: '可控制的智能设备',
plugin: [],
private: ['../css/public.css', '../css/devices.css']
}) %>
<%- include('./public/buy') %>
<%- include('./public/nav', {
current: 'devices',
label: '可控制的智能设备'
}) %>
<div class="devices-warp">
    <div class="devices-contain">
        <div class="d-top">
            <h1>可控制的智能设备</h1>
        </div>
        <div class="d-main clearfix">
            <div>
                <div class="d-box">
                    <h3>Philips</h3>
                    <p>灯泡+bridge</p>
                    <p>灯带</p>
                    <p>Hue Go</p>
                    <p>Hue Bridge</p>
                    <p>圆形吸顶灯</p>
                    <p>圆形小吸顶灯</p>
                    <p>台灯</p>
                    <p>立式灯</p>
                    <p>吊灯</p>
                    <p>吸顶灯</p>
                </div>
                <div class="d-box">
                    <h3>惠而浦</h3>
                    <p>空气净化器WA-5001FK</p>
                    <p>空气净化器WA-3501FK</p>
                    <p>空气净化器WA-3801SFK</p>
                    <p>空气净化器WA-3901SFK</p>
                    <p>空气净化器WA-5001SFK</p>
                    <p>空气净化器WA-5101SFK</p>
                    <p>空气净化器WA-7001FK</p>
                    <p>空气净化器WA-7501FK</p>
                    <p>ESH-50ET外星人智能电热水器</p>
                    <p>ESH-60ET外星人智能电热水器</p>
                    <p>ESH-80ET外星人智能电热水器</p>
                    <p>ESH-100ET外星人智能电热水器</p>
                    <p>空调AVH-51YC3</p>
                    <p>空调AVH-72YC3</p>
                    <p>2匹圆柱变频空调IVH-52YF2W</p>
                    <p>3匹圆柱变频空调IVH-72YF2W</p>
                    <p>1.5匹 变频空调 ISH-35FA1W</p>
                    <p>1匹 变频空调  ISH-26FA1W</p>
                    <p>变频空调IVH-72YE1W</p>
                    <p>变频空调IVH-50YE1W</p>
                    <p>香薰智能挂机空调 ISH-35FB2W</p>
                    <p>香薰智能挂机空调 ISH-26FB2W</p>
                    <p>变频空调ISH-35FM1W</p>
                    <p>空调 ISH-26CK1W</p>
                    <p>空调 ISH-35CK1W</p>
                </div>
                <div class="d-box">
                    <h3>美的</h3>
                    <p>60L电热水器 F6030-T7(HE)</p>
                    <p>F6021-T3(HE)智能云电热水器</p>
                </div>
                <div class="d-box">
                    <h3>欧瑞博</h3>
                    <p>红外遥控器</p>
                    <p>智能遥控器</p>
                    <p>WiFi插座</p>
                </div>
                <div class="d-box">
                    <h3>大鱼管家</h3>
                    <p>智能插座</p>
                    <p>智能灯泡</p>
                </div>
                <div class="d-box">
                    <h3>时在智联</h3>
                    <p>彩色灯</p>
                    <p>LED调光驱动</p>
                    <p>插座</p>
                    <p>智能开关</p>
                </div>
            </div>
            <div>
                <div class="d-box">
                    <h3>LifeSmart</h3>
                    <p>空气净化器</p>
                    <p>窗帘控制器</p>
                    <p>86型入墙开关</p>
                    <p>86型三位入墙开关</p>
                    <p>WiFi插座</p>
                    <p>智能插座</p>
                    <p>入墙插座</p>
                    <p>智能灯泡</p>
                    <p>幻彩灯带</p>
                    <p>红外转发器</p>
                    <p>空调智控器</p>
                    <p>地暖温控器</p>
                </div>
                <div class="d-box">
                    <h3>海尔</h3>
                    <p>全品类WiFi空调</p>
                </div>
                <div class="d-box">
                    <h3>Broadlink</h3>
                    <p>WiFi 插座SP mini3</p>
                    <p>红外转发器RM mini3</p>
                    <p>红外转发器RM pro</p>
                </div>
                <div class="d-box">
                    <h3>长虹</h3>
                    <p>二级变频 KFR-35GW/DBR1+A2</p>
                    <p>二级变频 KFR-26GW/DBR1+A2</p>
                </div>
                <div class="d-box">
                    <h3>海信</h3>
                    <p>空气净化器 KJ400F-FADW</p>
                </div>
                <div class="d-box">
                    <h3>格力</h3>
                    <p>WiFi智能空调KFR-26GNhFaB1W</p>
                    <p>WiFi智能空调KFR-35GNhFaB1W</p>
                    <p>冷暖圆柱柜机空调 KFR-50LW</p>
                    <p>冷暖圆柱柜机空调 KFR-72LW</p>
                    <p>冷暖壁挂式空调KFR-26GW</p>
                    <p>冷暖壁挂式空调KFR-35GW</p>
                    <p>变频空调KFR-35GW</p>
                    <p>变频空调KFR-26GW</p>
                </div>
                <div class="d-box">
                    <h3>涂鸦智能</h3>
                    <p>LED护眼灯</p>
                    <p>WiFi灯泡</p>
                    <p>WiFi触摸面板开关</p>
                    <p>Miko WiFi插座</p>
                </div>
                <div class="d-box">
                    <h3>乐逗智能</h3>
                    <p>全彩灯带</p>
                    <p>全彩射灯</p>
                </div>
                <div class="d-box">
                    <h3>E家智能</h3>
                    <p>智能吸顶灯</p>
                </div>
            </div>
            <div>
                <div class="left-960">
                    <div class="d-box">
                        <h3>小葱智能</h3>
                        <p>空气净化器</p>
                        <p>WiFi智能墙壁插座</p>
                        <p>WiFi移动插座</p>
                        <p>红外转发器</p>
                        <p>杜亚zigbee智能窗帘电机</p>
                        <p>zigbee三路开关</p>
                        <p>zigbee二路开关</p>
                        <p>zigbee一路开关</p>
                        <p>智能情景面板</p>
                        <p>zigbee网管主机</p>
                        <p>亚冠新风机</p>
                    </div>
                    <div class="d-box">
                        <h3>普宇</h3>
                        <p>阅读台灯PH-269</p>
                    </div>
                    <div class="d-box">
                        <h3>思朗</h3>
                        <p>智能WiFi灯泡-E27</p>
                        <p>智能触摸面板开关-SM-S101</p>
                    </div>
                    <div class="d-box">
                        <h3>miko</h3>
                        <p>WiFi智能插座-WF10T</p>
                    </div>
                    <div class="d-box">
                        <h3>志高</h3>
                        <p>冷暖空调 NEW-GD9BS3H3Y2</p>
                        <p>智能空调 NEW-GD12CS3H3Y2</p>
                    </div>
                </div>
                <div class="right-960">
                    <div class="d-box">
                        <h3>品拓</h3>
                        <p>LED吸顶灯</p>
                    </div>
                    <div class="d-box">
                        <h3>扬子</h3>
                        <p>KFRd-46LW/55DF1-E3</p>
                    </div>
                    <div class="d-box">
                        <h3>Yeelight</h3>
                        <p>智能护眼台灯</p>
                        <p>LED智能吸顶灯</p>
                        <p>皎月LED卧室吸顶灯</p>
                        <p>LED彩色灯泡</p>
                        <p>LED智能儿童房吸顶灯</p>
                    </div>
                    <div class="d-box">
                        <h3>创维</h3>
                        <p>壁挂式变频空调</p>
                        <p>吸顶灯</p>
                    </div>
                    <div class="d-more-box">
                        更多设备正在接入中
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./public/footer', {
current: 'devices'
}) %>
<%- include('../../libs/html/footer', {
plugin: [],
private: ['../js/public.js'],
statistics: ''
}) %>
