<%- include('../../libs/html/header', {
title: '小青智趣-语音互动技能共创平台',
description: '小青智趣-语音互动技能共创平台',
keywords: '小青智趣-语音互动技能共创平台',
plugin: ['../css/public/swiper.min.scss'],
private: ['../css/public.css', '../css/platform.css']
}) %>
<div class="platform-warp">
    <%- include('./public/plaform-header.ejs') %>
    <div class="page1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-contain">
                        <h3>语音技能共创</h3>
                        <div class="desc">
                            <p>「小青智趣」是蓝港科技基于区块链模式构建的人工智能语音互动游戏创作平台。平台上的技能由小青官方策划或由用户发起，建立对话模型后由用户参与内容共创，完成预定目标内容，再由平台打包分发至各语音交互产品平台上。</p>
                            <p>技能发起者、参与者、使用者都可在整个环节中获得小青提供的积分奖励。持有积分的用户可以用积分兑换实物奖励、版权内容、付费游戏、游戏道具、影视娱乐、商家折扣等增值服务。</p>
                        </div>
                        <div class="ewm-box">
                            <div class="zq-ewm"></div>
                            <p>关注小青智趣，参与语音技能共创</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="page-contain">
            <div class="top">
                <h3>开放共创技能一览</h3>
                <div class="skill-warp">
                    <ul class="clearfix">
                        <li>
                            <div class="skill-img">
                                <div class="mask">已开放</div>
                            </div>
                            <p>你唱我猜</p>
                        </li>
                        <li>
                            <div class="skill-img">
                                <div class="mask">已开放</div>
                            </div>
                            <p>猜方言</p>
                        </li>
                        <li>
                            <div class="skill-img">
                                <div class="mask">即将开放</div>
                            </div>
                            <p>脑筋急转弯</p>
                        </li>
                        <li>
                            <div class="skill-img">
                                <div class="mask">即将开放</div>
                            </div>
                            <p>小青流行语</p>
                        </li>
                        <li>
                            <div class="skill-img">
                                <div class="mask">即将开放</div>
                            </div>
                            <p>我要策划</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <h3>参与技能共创流程</h3>
                <div class="flow-warp clearfix">
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="zq-ewm-img"></div>
                            </div>
                            <div class="flow-step-arrows"></div>
                        </div>
                        <p>关注智趣公众号</p>
                    </div>
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="flow-circle">
                                    <div class="page2-cont">
                                        <i class="icon-menu"></i>
                                        <span>共创技能</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flow-step-arrows"></div>
                        </div>
                        <p>进入共创技能</p>
                    </div>
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="flow-circle">
                                    <div class="flow-step-contain-top">
                                        你唱我猜
                                    </div>
                                    <div class="page2-cont">
                                        <i class="icon-menu"></i>
                                        <span>共创技能</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flow-step-arrows"></div>
                        </div>
                        <p>选择技能</p>
                    </div>
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="voice-img"></div>
                            </div>
                            <div class="flow-step-arrows"></div>
                        </div>
                        <p>进行共创</p>
                    </div>
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="upload-img"></div>
                            </div>
                            <div class="flow-step-arrows"></div>
                        </div>
                        <p>上传创作</p>
                    </div>
                    <div class="flow-item">
                        <div class="flow-step">
                            <div class="flow-step-contain">
                                <div class="success-img"></div>
                            </div>
                        </div>
                        <p>审核获得奖励</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page3">
        <div class="page-contain">
            <h3>支持语音技能开放平台</h3>
            <div class="content clearfix">
                <div class="item">
                    <div class="circle">
                        <div class="item-img"></div>
                    </div>
                    <p>DuerOS开放平台</p>
                </div>
                <div class="item">
                    <div class="circle">
                        <div class="item-img"></div>
                    </div>
                    <p>小爱开放平台</p>
                </div>
                <div class="item">
                    <div class="circle">
                        <div class="item-img"></div>
                    </div>
                    <p>JD Alpha智能服务平台</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page4">
        <div class="page-contain">
            <div class="top">
                <h3>小青智趣语音技能</h3>
                <p>小青小青，打开百万富翁</p>
                <p>小青小青，打开翻牌记忆</p>
                <p class="dot">......</p>
            </div>
            <%
            const skillData = [
                {
                    label: '火星财经',
                    desc: '《火星财经》是首个24小时区块链财经资讯门户，您可以在这里了解最新行业快讯，各类数字货币的最新市场行情。',
                    img: '../img/skillIcon/icon1.jpg'
                },
                {
                    label: '我当宰相',
                    desc: '恭喜你，皇帝任命你当宰相啦，你的每次选择都会改变你的威望与财富，王权之下，天下兴亡，测试看你能坚持几轮。',
                    img: '../img/skillIcon/icon2.jpg'
                },
                {
                    label: '猜乐器',
                    desc: '世界上的乐器这么多，看你对各种乐器音色了不了解，据说全答对的话你肯定是天才，小青表示只能听出5种乐器o(╯□╰)o',
                    img: '../img/skillIcon/icon3.jpg'
                },
                {
                    label: '我的猫咪',
                    desc: '想养猫但是没有条件？赶紧试试我这个虚拟猫咪，我会一直喵喵叫，还会叫上我的喵朋猫友一起叫。爱猫人士，铲屎官必备。',
                    img: '../img/skillIcon/icon4.jpg'
                },
                {
                    label: '猎杀恶魔',
                    desc: '你被困在了洞窟中，只能往东南西北方向移动，可怕的恶魔虎视眈眈，你到底能不能杀死恶魔并逃出这个恐怖洞窟呢？',
                    img: '../img/skillIcon/icon5.jpg'
                },
                {
                    label: '百万富翁',
                    desc: '答对有奖，答对所有十五道题你就能走向人生巅峰，还在玩直播的益智问答？赶紧来试试百万富翁吧，全都会了奖金还远吗',
                    img: '../img/skillIcon/icon6.jpg'
                },
                {
                    label: '翻牌记忆',
                    desc: '考验你的终极记忆力时候到了，这么多牌，随便你翻，连续翻开两张一样的牌，这两张牌将保持正面，看你能不能用最少的步数翻开所有牌。',
                    img: '../img/skillIcon/icon7.jpg'
                },
                {
                    label: '你唱我猜',
                    desc: '小青智趣语音应用，来听听其他用户录制的歌曲，猜猜这首歌的歌曲名，每局有5关，赶紧来试试看你能超过多少玩家。',
                    img: '../img/skillIcon/icon8.jpg'
                },
                {
                    label: '21点',
                    desc: '来，来，最受欢迎的扑克牌游戏，来试试看你跟庄家小青谁厉害，能不能战胜小青，小青说毕竟她运气更好^_^',
                    img: '../img/skillIcon/icon9.jpg'
                },
                {
                    label: '吃货大作战',
                    desc: '想知道你是不是地道吃货？来这里就对了，随机匹配一个玩家跟你对战，五道题看你们谁的得分高。',
                    img: '../img/skillIcon/icon10.jpg'
                },
                {
                    label: '脑力达人',
                    desc: '想通过直播答题赢取巨额奖金？来这里吧，看看你的实力如何，跟上万人比拼，记得要尽快选定答案，时间不等人。',
                    img: '../img/skillIcon/icon11.jpg'
                },
                {
                    label: '猜动物',
                    desc: '喜欢动物世界？喜欢听各种动物的声音？来这里就对了，各种飞禽走兽的叫声，千万不要被惊着哦，小青就被吓得不轻。',
                    img: '../img/skillIcon/icon12.jpg'
                },
                {
                    label: '猜外语',
                    desc: '想学外语，想感受下各种外语听起来怎样的？来这里就对了，各种外语狂轰滥炸，如果你听了不头晕，小青佩服你。',
                    img: '../img/skillIcon/icon13.jpg'
                },
                {
                    label: '我当宰相',
                    desc: '想测试自己对各年代歌曲的了解？还记得曾经风靡的港台歌曲吗？来这里吧，各种老歌新歌，保证你玩到停不下来。',
                    img: '../img/skillIcon/icon14.jpg'
                },
                {
                    label: '猜方言',
                    desc: '啥，这些真的都是方言吗？怎么有些听着挺熟悉，但都不知道说啥，有些肯定是外语.......囧',
                    img: '../img/skillIcon/icon15.jpg'
                },
                {
                    label: '猜国家',
                    desc: '请根据小青的提示线索，包括地理，经济，人口，首都等，猜猜是哪个国家，保证能让你了解关于各个国家的更多趣味知识。',
                    img: '../img/skillIcon/icon16.jpg'
                },
                {
                    label: '小青猜拳',
                    desc: '快来跟小青比试猜拳，剪刀石头布，试试你的运气如何，三局两胜看是不是比小青更厉害，小青肯定不会作弊的哦。',
                    img: '../img/skillIcon/icon17.jpg'
                },
                {
                    label: '猜品牌',
                    desc: '世界上这么多著名名牌，他们到底都用哪些耳熟能详的口号呢？赶紧打开试试看你知道的品牌口号多不多。',
                    img: '../img/skillIcon/icon18.jpg'
                }
            ]
             %>
            <div class="waterfull" id="waterfull">
                <ul class="clearfix">
                    <%
                    skillData.map((item) => {%>
                    <li class="item">
                        <div class="li-item">
                            <img src="<%= item.img %>" alt="<%= item.label %>">
                            <h4 class="li-title"><%= item.label %></h4>
                            <p class="desc"><%= item.desc %></p>
                        </div>
                    </li>
                    <%})
                     %>
                </ul>
            </div>
            <!-- loading按钮自己通过样式调整 -->
            <div id="imloading">
                加载中.....
            </div>
        </div>
    </div>
</div>
<%- include('./public/platform-footer.ejs', {
current: 'platform'
}) %>
<%- include('../../libs/html/footer', {
plugin: ['../js/swiper.min.js', '../js/jquery.masonry.min.js'],
private: ['../js/public.js', '../js/platform.js'],
statistics: ''
}) %>
