<%- include('../../libs/html/header', {
title: '商务合作',
description: '商务合作',
keywords: '商务合作',
plugin: [],
private: ['../css/public.css', '../css/partner.css']
}) %>
<%- include('./public/buy') %>
<%- include('./public/nav', {
current: 'footer',
label: '商务合作'
}) %>

<div class="main partner">
    <div class="content">
        <div class="page1">
            <div class="contain">
                <div class="top">
                    <h3>小青品牌全国招募代理商</h3>
                    <p>为了满足市场的需求，小青正致力于建设全国经销商网络，以便为用户提供专业、优质、及时和满意的产品及服务。经销商不仅能够以极具竞争力的价格获得产品经销权，而且能够享受小青全方位的技术支持、解决方案支持、 市场营销物料支持以及售后服务支持。小青诚邀各位有实力和意愿、有志于AI智能音箱行业并认同小青品牌理念的经销商加盟，成为小青的长期忠实合作伙伴。</p>
                </div>
                <div class="contact clearfix">
                    <div class="c-box">
                        <h5>全国招募代理商</h5>
                        <div class="row">
                            <div class="col-left">合作方向：</div>
                            <div class="col-right">小青品牌加盟商</div>
                        </div>
                        <div class="row">
                            <div class="col-left">联系人：</div>
                            <div class="col-right">孙先生</div>
                        </div>
                        <div class="row">
                            <div class="col-left">电&nbsp;&nbsp;话：</div>
                            <div class="col-right">158 1865 8785</div>
                        </div>
                        <div class="row">
                            <div class="col-left">邮&nbsp;&nbsp;箱:</div>
                            <div class="col-right">sunchenggang@xiaoqing.ai</div>
                        </div>
                    </div>
                    <div class="c-box">
                        <h5>大客户洽谈</h5>
                        <div class="row">
                            <div class="col-left">合作方向：</div>
                            <div class="col-right">大客户及智能家居业务方向</div>
                        </div>
                        <div class="row">
                            <div class="col-left">联系人：</div>
                            <div class="col-right">王先生</div>
                        </div>
                        <div class="row">
                            <div class="col-left">电&nbsp;&nbsp;话：</div>
                            <div class="col-right">137 2872 1050</div>
                        </div>
                        <div class="row">
                            <div class="col-left">邮&nbsp;&nbsp;箱:</div>
                            <div class="col-right">wangyong@xiaoqing.ai</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page3">
            <div class="advantage">
                <p class="title">小青核心优势</p>
                <div class="items">
                    <div class="item item1">
                        <img src="../img/partner/adv-1.png" alt="">
                        <p class="item_title">技术优势</p>
                        <p class="item_desc">设计、工艺、音质、研发团队、AI技术等等方面</p>
                    </div>
                    <div class="item item2">
                        <img src="../img/partner/adv-2.png" alt="">
                        <p class="item_title">供应链优势</p>
                        <p class="item_desc">阐述供应链系统、阐述 品质</p>
                    </div>
                    <div class="item item3">
                        <img src="../img/partner/adv-3.png" alt="">
                        <p class="item_title">公司优势</p>
                        <p class="item_desc">蓝港互动母公司、AI语音生态链的优势</p>
                    </div>
                    <div class="item item4">
                        <img src="../img/partner/adv-4.png" alt="">
                        <p class="item_title">合作平台优势</p>
                        <p class="item_desc">蓝港互动母公司、资源平台的优势</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page4">
            <p class="title">“招商” 九大政策支持</p>
            <div class="items">
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">形象展示</p>
                    <p class="item_desc">根据公司统一VI形象，统一展示店面门头、展示台、展示墙和易拉宝</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">品牌推广</p>
                    <p class="item_desc">互联网推广、移动新媒体推广、线下活动推广及互联网广告投放</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">广宣资料</p>
                    <p class="item_desc">视频、画册、单页、H5和企业期刊等物料支持</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">物料礼品</p>
                    <p class="item_desc">环保手提袋、广告衫和精美小礼品支持</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">市场销售</p>
                    <p class="item_desc">提供产品知识、导购礼仪和话术营销培训、辅助客户分销商拓展</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">技术服务</p>
                    <p class="item_desc">核心技术支持和售后服务支持</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">市场保障</p>
                    <p class="item_desc">实行统一的价格体系和合理的利润空间；进行严密的通路监控、市场管理让客户免受假冒、窜货、低价倾销的困扰</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">奖励政策</p>
                    <p class="item_desc">对于年度完成合同约定任务量，同时在实际操作过程中积极配合公司规范化运作市场的代理商，给予一定的物质或者政策上的奖励</p>
                </div>
                <div class="item">
                    <p class="img"></p>
                    <p class="item_title">合作共赢</p>
                    <p class="item_desc">根据代理商签订特定合同；根据特定经销商、合作商签订协议确保每一位客户的根本利益得到保障</p>
                </div>
            </div>
        </div>
        <div class="page5">
            <div class="method">
                <p class="title">加盟方式</p>
                <form class="form">
                    <input type="text" class="name" placeholder="联系人 :" autocomplete="false">
                    <input type="text" class="phone" placeholder="联系电话 :" maxlength="11" autocomplete="false">
                    <input type="text" class="add" placeholder="加盟区域 :" autocomplete="false">
                    <input type="text" class="wechat" placeholder="微信号/邮箱 :" autocomplete="false">
                    <textarea name="msg" class="msg" id="msg" cols="30" rows="10" placeholder="留言 :"></textarea>
                    <div class="hink"></div>
                </form>
                <input type="submit" class="submit" value="提交">
            </div>
        </div>
    </div>
</div>

<%- include('./public/footer', {
current: 'footer'
}) %>
<%- include('../../libs/html/footer', {
plugin: [],
private: ['../js/public.js', '../js/partner.js'],
statistics: ''
}) %>
