<%- include('../../libs/html/header', {
title: '参数',
description: '参数',
keywords: '参数',
plugin: [],
private: ['../css/public.css', '../css/size.css']
}) %>
<%- include('./public/buy') %>
<%- include('./public/nav', {
current: 'size',
label: '参数'
}) %>
<div class="size-warp">
    <div class="size-contain">
        <div class="size-page1">
            <h2>外观</h2>
            <div class="page-right">
                <div class="img-box clearfix">
                    <div>
                        <div class="img-red"></div>
                        <span>熔岩红</span>
                    </div>
                    <div>
                        <div class="img-white"></div>
                        <span>冰雪白</span>
                    </div>
                    <div>
                        <div class="img-blue"></div>
                        <span>深海蓝</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="size-page2">
            <h2>尺寸</h2>
            <div class="page-right">
                <div class="size-img"></div>
                <div class="size-info">
                    <div class="row">
                        <div class="col-left">尺寸：</div>
                        <div class="col-right">160 x 160 x 255mm</div>
                    </div>
                    <div class="row">
                        <div class="col-left">重量：</div>
                        <div class="col-right">1.8kg</div>
                    </div>
                    <div class="row">
                        <div class="col-left">材质：</div>
                        <div class="col-right">纯棉氨纶混合型网布</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="size-page3">
            <h2>音频</h2>
            <div class="page-right">
                <div class="size-info">
                    <div class="row">
                        <div class="col-left">扬声器：</div>
                        <div class="col-right">5.25寸中低音扬声器&nbsp;1寸高音扬声器</div>
                    </div>
                    <div class="row">
                        <div class="col-left">额定阻抗：</div>
                        <div class="col-right">6欧</div>
                    </div>
                    <div class="row">
                        <div class="col-left">频率响应范围：</div>
                        <div class="col-right">60Hz-18kHz</div>
                    </div>
                    <div class="row">
                        <div class="col-left">总谐波失真：</div>
                        <div class="col-right">0.5%@1kHz</div>
                    </div>
                    <div class="row">
                        <div class="col-left">专利技术：</div>
                        <div class="col-right">Constant horn directivity 360°导音锥</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="size-page4">
            <h2>硬件</h2>
            <div class="page-right">
                <div class="size-info">
                    <div class="row">
                        <div class="col-left">CPU：</div>
                        <div class="col-right">ARM Cortex-A7 4核</div>
                    </div>
                    <div class="row">
                        <div class="col-left">内存：</div>
                        <div class="col-right">512MB</div>
                    </div>
                    <div class="row">
                        <div class="col-left">闪存：</div>
                        <div class="col-right">8GB</div>
                    </div>
                    <div class="row">
                        <div class="col-left">连接：</div>
                        <div class="col-right">2.4G WiFi&nbsp;&nbsp;&nbsp;蓝牙4.0</div>
                    </div>
                    <div class="row">
                        <div class="col-left">额定功率：</div>
                        <div class="col-right">30W</div>
                    </div>
                    <div class="row">
                        <div class="col-left">电源适配：</div>
                        <div class="col-right">DC 18 V / 2A</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="size-page5">
            <h2>包装清单</h2>
            <div class="page-right">
                <p>小青智能动听音箱</p>
                <p>适配器</p>
                <p>产品说明书</p>
                <p>三包卡</p>
            </div>
        </div>
    </div>
</div>
<%- include('./public/footer', {
current: 'size'
}) %>
<%- include('../../libs/html/footer', {
plugin: [],
private: ['../js/public.js'],
statistics: ''
}) %>
